.reason{
    cursor: pointer;
    margin-top: 10em;
    margin-left: 3em;
    .circle--img,
    .wave--img{
        width:  250px;
        height: 300px;
        z-index: -1;
        position: absolute;
        @media (min-width:1920px){
            width:  380px;
            height: 450px;
        }
        img{
            opacity: 0.3;
            width: 100%;
            height: 100%;
        }
    }
    .wave--img{
        left: -5%;
    }
    .circle--img{
        top: 35%;
        right: -5%;
    }
    .reason--no{
        color: #64ffda;
        text-align: right;
        margin-right: 7em;
        font-size: 2.2em;
        @media (min-width:1920px) {
            margin-right: 5em;
            font-size: 3em;
            
        }

    }
    .reason--text{
        font-size: 1.4em;
        color: white;
        @media (min-width:1920px){
            font-size: 2em;
            
        }
    }
}