.footer{
    height: 100vh;
    width: 100%;
    display: flex;
    .footer--img{
        width: 425px;
        height: 275px;
        bottom: 0%;
        right: 20%;
        @media (min-width:1920px){
            width: 675px;
            height: 450px;

        }
        opacity: 0.5;
        position: absolute;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .main__footer{
        height: 100%;
        width: 100%;
        position: relative;
        .main__footer--top{
            margin: 0 auto;
            width: 75%;
            padding: 5em 2em;
            @media (min-width:1920px){
                margin-top: 5%;
            }

        }
        .footer__tittle{
            padding-left: 2%;
            margin: 0;
            font-size: 12em;
            @media (min-width:1920px){
                font-size: 17em;
            }
            font-weight: bold;
            color: transparent;
            -webkit-text-stroke: 2px white;
            position: absolute;
            bottom: 0;
            cursor: pointer;
        }
    }
    .footer__right{
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 100%;
        right: 0;
        
        .right__footer--top{

            height: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .right__footer--bottom{
            height: 55%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .footer--mail{
                transform: rotate(90deg);
                @media (min-width:1920px){
                    font-size: 2em;
                }
            }
        }
        a{
            text-decoration: none;
            color: rgb(70, 70, 70);
            &:hover{
                transform: scale(1.2);
                @media (min-width:1920px){
                    transform: scale(1.1);
                }
                color: white;
            }
        }

        .footer--line{
            display: block;
            width: 1px;
            height: 100px;
            @media (min-width:1920px){
                height: 200px;
            }
            background-color: gray;
        }
    }
}